* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 16px;
}
body {
    background-color: #E5E5E5;;
}
header {
    width: 100%;
    background-image: url("./assets/nav.png");
    height: 90vh;
    background-repeat: no-repeat;
}
 nav {
     width: 90%;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     color: #FFFFFF;
     padding-top: 2rem;
 }
 ul {
     display: flex;
     list-style-type: none;
 }
 nav h2 {
     font-size: 1.5rem;
 }
 nav ul li {
     font-size: 1rem; 
 }
 nav ul li:not(:last-child){
     margin-right: 2.5rem;
 }
 .section_title {
     text-align: center;
     font-weight: 500;
     color: #0F123B;
     font-size: 2rem;
     margin-bottom: 50px;
     margin-top: 50px;
 }
 .section_image_content {
     width: 80%;
     display: flex;
     justify-content:space-between;
     flex-wrap: wrap;
     margin: auto;
 }
 section {
     width: 100%;
     align-self: center;
     flex-wrap: wrap;
     margin: auto;
 }

 .section_image_content  img {
     margin-bottom: 30px;
     padding-top: 30px;
 }
 #Cruising_Europe > div {
     width: 90%;
     display: flex;
     justify-content:space-between;
     margin-top: 80px;
 }
 #Cruising_Europe {
     width: 89%;
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     margin: auto;
 }
 #Cruising_Europe > div > div {
     max-width: 690px;
 }
 #Cruising_Europe > div > div > h3 {
     margin-bottom: 30px;
}
#solder {
    align-items: center;
    width: 80%;
    bottom: 140px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: #FFFFFF;
    flex-wrap: wrap;
    margin: auto;
}
#solder div {
    margin-right: 0 auto;
    flex-wrap: wrap;
    margin: auto;
    border-right: 1px solid black;
    height: 100px;
    padding-right: 50px;
    padding-top: 50px;
}
#solder div:not(:last-child) {
    border-right: 1px solid black;
    width: 10%;
}
#dava {
    border-right: 0 !important;
}
#solder div:first-child {
    padding-left: 15px;
}
.n1 {
    font-size: 20px;
    color: black;
    padding-bottom: 5px;
}
.n2 {
    color: #0F123B;
    padding-top: 5px;
}
#solder div button {
    width: 250px;
    height: 50px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #FF7340;
}
#sar {
    color: white;
    background-color: #276DC3;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    margin-top: 10px;
    margin-left: 100px;
}
#mall {
    margin-top: 100px;
}
#div {
    width: 80%;
    height: 200px;
    background-color: white;
    flex-wrap: wrap;
    margin: auto;
}
#div div input {
    border: none;
}
#div div button {
    border: none;
}
#div input {
    margin-left: 100px;
    width: 80%;
    height: 40px;
    background-color: #F8FAFB;
    margin-top: 30px;
    border-radius: 5px;
}
#div h2 {
    color: #0F123B;
    margin-left: 100px;
}
#born {
    margin-top: 30px;
}