* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 16px;
}

header {
    width: 100%;
    background-image: url("./assets/nav.png");
    height: 90vh;
    background-repeat: no-repeat;
}
 nav {
     width: 90%;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     color: #FFFFFF;
     padding-top: 2rem;
 }
 ul {
     display: flex;
     list-style-type: none;
 }
 nav h2 {
     font-size: 1.5rem;
 }
 nav ul li {
     font-size: 1rem; 
 }
 nav ul li:not(:last-child){
     margin-right: 2.5rem;
 }
 .section_title {
     text-align: center;
     font-weight: 500;
     color: #0F123B;
     font-size: 2rem;
     margin-bottom: 50px;
     margin-top: 50px;
 }
 .section_image_content {
     width: 90%;
     display: flex;
     justify-content:space-between;
     flex-wrap: wrap;
     margin: auto;
 }
 section {
     width: 100%;
     align-self: center;
 }

 .section_image_content  img {
     margin-bottom: 30px;
     padding-top: 30px;
 }
 #Cruising_Europe > div {
     width: 90%;
     display: flex;
     justify-content:space-between;
     margin-top: 80px;
 }
 #Cruising_Europe {
     display: flex;
     justify-content: center;
 }
 #Cruising_Europe > div > div {
     max-width: 690px;
 }
 #Cruising_Europe > div > div > h3 {
     margin-bottom: 30px;
 }
 
