* {
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    background-image: url(./assets/Mariya.png);
    height: 90vh;
    background-repeat: no-repeat;
}
html {
    font-size: 16px;
}
body {
    background: #E5E5E5;
}
nav {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 2rem;
}
nav ul {
    display: flex;
    list-style-type: none;
}
nav h2 {
    font-size: 1.5rem;
    color: #FFFFFF;
}
nav ul li {
    font-size: 1rem;
    color: #FFFFFF;
}
nav ul li:not(:last-child) {
    margin-right: 2.5rem;
}
.section_title {
    text-align: center;
    font-weight: 500;
    font-size: 2rem;
    color: rgb(8, 15, 53);
    margin-bottom: 50px;
    margin-top: 50px;
}
.section_img {
    width: 76%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}
.section_img img:not(:nth-child(3)) {
    margin-right: 30px;
}
.section_img img {
    margin-bottom: 30px;
}
#cruis {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 80px 0px;
}
#cruis > div {
    width: 76%;
    display: flex;
    justify-content: space-between;
}
#cruis > div > div {
    max-width: 690px;
}
#cruis > div > div > h3 {
    margin-bottom: 30px;
}